.filters {
    background-color: white;
    height: 70px; width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #fff;
    height: 48px; width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 90%;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    margin-left: 40px;

}

/* Locations border */
.locations {
    border-right: 1px solid #ddd;
}

/* Header 3 and Header 4 style */
.filters h3,
.filters h4 {
    margin: 10px 0;
}

/* Header 3 style */
.filters h3 {
    font-weight: 600;
}

/* Header 4 style */
.filters h4 {
    font-size: 14px;
    font-weight: 400;
}